.title-bg {
  width: 100%;
  height: 392px;
  background: url(../img/ban_changzu.jpg) no-repeat center;
}
.main-content {
  background-color: #F7F7F7;
  padding-bottom: 80px;
}
.row-feature {
  border-bottom: 1px solid #DDDDDD;
}
.feature {
  padding: 35px 0;
}
.feature .zq,
.feature .jg,
.feature .jc,
.feature .ck {
  display: block;
  width: 42px;
  height: 42px;
  margin: 0 auto;
}
.feature .zq {
  background: url(../img/changzu_zqlh.png) no-repeat;
}
.feature .jg {
  background: url(../img/changzu_jggd.png) no-repeat;
}
.feature .jc {
  background: url(../img/changzu_mfjc.png) no-repeat;
}
.feature .ck {
  background: url(../img/changzu_ckwy.png) no-repeat;
}
.feature p {
  font-size: 20px;
  color: #000000;
  line-height: 30px;
}
.feature span {
  font-size: 14px;
  color: #000000;
}
.car-info .cz-title {
  font-size: 24px;
  color: #636363;
  margin: 40px 0;
}
.car-info .car-item {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  margin-bottom: 25px;
}
.car-info .car-item .img {
  float: left;
}
.car-info .car-item img {
  width: 100%;
  height: auto;
}
.car-info .car-item .car-name {
  width: 100%;
  height: 30px;
  background: url(../img/black_60.png);
  color: #ffffff;
  font-size: 14px;
  float: left;
  line-height: 30px;
  margin-top: -30px;
}
.car-info .car-item .car-name span {
  padding-left: 10px;
}
.car-info .car-item .cz-price p {
  font-size: 14px;
  line-height: 45px;
}
.car-info .car-item .cz-price p span {
  display: inline-block;
  font-size: 20px;
  color: #4786F1;
  padding: 0 2px;
}
